body {
    margin: 0px;
    overflow-x:hidden;
}

.row{
    margin: 30px;
}

.opacity-1 {
    opacity: 0.1;
}

.fw-600 {
    font-weight: 600;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

h2 {
    outline: rgb(49, 78, 110) solid 1px !important;
}

.text-9 {
    font-size: 32px !important;
    font-size: 2.25rem !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.float-right {
    text-align: center;
}

.green_color{
    color: #20c997;
}


/* Head Border */
.border-primary {
    border-color: #20c997 !important;
}

.heading-separator-line {
    width: 80px;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}


/* Know me more */
.aboutus {
    background-color: #212529;
    color: #909294;
    padding: 30px;
}

.inner_aboutus {
    padding: 20px;
}

.head {
    text-align: center;
}

.text-24 {
    opacity: 0.1;
    line-height: 1.3;
    font-size: calc(1.95rem + 6.4vw);
}


span {
    color: white;
}


/* Download Button */
.download_cv {
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #20c997;
    border-radius: 20px;
    padding: 15px;
}


/* Services */
.Whatido {
    background-color: #343a40;
}

.service_title {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 5px;
}

.service_data {
    color: #979993;
    font-family: "Poppins", sans-serif;
}

.services_logo {
    width: 100px;
    border-radius: 5px;
    float: left;
    color: #20c997;
    font-size: 60px;
    padding: 15px;
    margin: 10px;
    margin-right: 15px;
    background-color: #212529;
}

.service_data {
    color: #979993;
    font-family: "Poppins", sans-serif;
}




/* Resume */
.resume {
    background-color: #212529;
    color: white;
}

.edu_1 {
    background-color: #111418;
    border: none;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30px;
}
.year{
    display: block;
    width: fit-content;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: #dc3545;
}

.edu_title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3125rem;
    font-weight: bolder;
}
.edu_subtitle{
    color: #20c997;
    font-weight: 500;
}  

.edu_desc{
    text-align: justify;
    padding-right: 30px;
}


/* contact */
.contact {
    background-color: #212529;
}