.row{
    margin-left: 10%;
    margin-right: 10%;
}
.opacity-1{
    opacity: 0.1;
}

.fw-600 {
    font-weight: 600;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

h2 {
    outline: rgb(49, 78, 110) solid 1px !important;
}

.text-9 {
    font-size: 32px !important;
    font-size: 2.25rem !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}


/* Head Border */
.border-primary {
    border-color: #20c997 !important;
}
.heading-separator-line {
    width: 80px;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}



/* Know me more */
.aboutus {
    background-color: #212529;
    color: #909294;
    padding: 30px;
}
.inner_aboutus{
    padding: 20px;
}
.head {
    text-align: center;
}
.text-24 {
    opacity: 0.1;
    line-height: 1.3;
    font-size: calc(1.95rem + 6.4vw);
}




/* Download Button */
.download_cv {
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #20c997;
    border-radius: 20px;
    padding: 15px;
}


/* Services */
.Whatido{
    background-color: #343a40;
}

.service_title{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 5px;
}
.service_data{
    color: #979993;
    font-family: "Poppins", sans-serif;
}
.service_row{
    margin-bottom: 30px;
}


/* Resume */
.resume{
    background-color: #212529;
    color: white;
}

.services_logo{
    border-radius: 5px;
    float: left;
    margin-right: 30px;
    padding: 15px;
    color: #20c997;
    background-color: #212529;
    font-size: 500%;

}
.service_data{
    color: #979993;
    font-family: "Poppins", sans-serif;
}


/* contact */
.contact{
    background-color: #212529;
}

