body {
    margin: 0px;
    overflow-x: hidden;
    background-color: #212529;
}

.gray {
    color: #6c757d;
    font-weight: 500;
}

.row {
    margin: 15px;
}

.opacity-1 {
    opacity: 0.1;
}

.fw-600 {
    font-weight: 600;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

h2 {
    outline: rgb(49, 78, 110) solid 1px !important;
}

.text-9 {
    font-size: 32px !important;
    font-size: 2.25rem !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.float-right {
    text-align: center;
}

.green_color {
    color: #20c997;
}








/* navbar */

.gotoscroll {
    background-color: transparent;
    height: 70px;
}

.nav-colored {
    background-color: #212529;
}

.nav-transparent {
    background-color: transparent;
}

.nav-link {
    padding-left: 10px;
    font-weight: 600;
    color: white;
}

.nav-link:hover {
    color: #707983;
}

.logo_1 {
    padding-left:5px ;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    display: block;
    width: fit-content;
    border-bottom: 3px solid #212529;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor:pointer;
}

.logo_1_color{
    border-bottom: 3px solid #20c997;
}


.navbar-toggler {
    width: 25px;
    height: 30px;
    margin: 18px 15px;
    position: relative;
    border: none;
    cursor: pointer;
    display: block;
}

.ms-auto {
    margin-left: auto !important;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.navbar-toggler span:nth-child(1) {
    top: 7px;
}

.navbar-toggler span {
    display: block;
    position: absolute;
    height: 2px;
    border-radius: 2px;
    left: 0;
}

.primary-menu.navbar-dark .navbar-toggler span {
    background: #fff;
}

.navbar-toggler span:nth-child(3) {
    top: 21px;
}

.navbar-toggler span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .navbar-expand-lg.navbar-dark .navbar-collapse {
        background: rgba(0, 0, 0, 0.95);
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-collapse {
        position: absolute;
        top: 99%;
        right: 0;
        left: 0;
        padding-left: 30px;
        margin-top: 0px;
        z-index: 1000;
        box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    }
}

.justify-content-center {
    justify-content: center !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}





/* Social Icons */
.social-icons {
    margin-left: 0px
}

.social-icons li {
    list-style: none;
    float: right;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.icons:hover{
    color: #fff;
}


/* home */

.home_data {
    margin: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    background: transparent;
    margin-top: 50px;
    width: 90%;
}

.welcome {
    font-weight: 700;
    font-size: 30px;
    color: #212529;
}

.based {
    font-size: 20px;
    font-weight: 500;
    color: #212529;
}

.profile {
    border: 5px solid #111418;
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-left: 10px;
    top: 50%;
    object-fit: scale-down;
    object-position: 50%;
    max-width: 300px;
    width: 90%;
}


/* profile Animation */




/* End of profile Animation */
.span_text,
#text {
    font-weight: 600;
    font-size: 40px;
    color: #212529;
    white-space: nowrap;
}

.gotoicon {
    background: transparent;
    border: 1px solid #343a40;
    width: fit-content;
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
}


canvas {
    background-image: linear-gradient(bottom, rgb(105, 173, 212) 0%, #20c997 84%);
    background-image: -o-linear-gradient(bottom, rgb(105, 173, 212) 0%, #20c997 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105, 173, 212) 0%, #20c997 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105, 173, 212) 0%, #20c997 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105, 173, 212) 0%, #20c997 84%);
    background-color: #20c997;
    -webkit-gradient: (linear,
            left bottom,
            left top,
            color-stop(0, #20c997),
            color-stop(0.84, #20c997));
}
























/* Head Border */
.border-primary {
    border-color: #20c997 !important;
}

.heading-separator-line {
    width: 80px;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
















/* Know me more */
.aboutus {
    margin-top: 20px;
    background-color: #212529;
    color: #909294;
}

.inner_aboutus {
    padding: 20px;
}

.head {
    text-align: center;
}

.text-24 {
    opacity: 0.1;
    line-height: 1.3;
    font-size: calc(1.95rem + 6.4vw);
}

span {
    color: white;
}




















/* Download Button */
.download_cv {
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #20c997;
    border-radius: 20px;
    padding: 15px;
}


























/* Services */
.Whatido {
    background-color: #343a40;
    padding-top: 30px;
}

.service_title {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 5px;
}

.service_data {
    color: #979993;
    font-family: "Poppins", sans-serif;
}

.services_logo {
    width: 100px;
    border-radius: 5px;
    float: left;
    color: #20c997;
    font-size: 60px;
    padding: 15px;
    margin: 10px;
    margin-right: 15px;
    background-color: #212529;
}

.service_data {
    color: #979993;
    font-family: "Poppins", sans-serif;
}
































/* Resume */
.resume {
    background-color: #212529;
    color: white;
    margin-top: 5px;
}

.edu_1 {
    background-color: #111418;
    border: none;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30px;
}

.year {
    display: block;
    width: fit-content;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: #dc3545;
}

.edu_title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3125rem;
    font-weight: bolder;
}

.edu_subtitle {
    color: #20c997;
    font-weight: 500;
}

.edu_desc {
    text-align: justify;
    padding-right: 30px;
}

























/* Skills*/
.MySkills {
    color: white;
    margin-top: 10px;
}

strong {
    float: right;
}

.skill {
    height: 8px;
    background-color: #111418;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skillset {
    height: 8px;
    background-color: #20c997;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.zero{
    width: 50%;
}
.one {
    width: 90%;
}

.two {
    width: 75%;
}

.three {
    width: 95%;
}

.four {
    width: 75%;
}

.five {
    width: 95%;
}

.six {
    width: 90%;
}

.seven{
    width: 50%;
}


.second_btn {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: #111418;
    background-color: #6c757d;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}
































/* contact */
.contact {
    background-color: #212529;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #707983;
}

a:hover {
    color: white;
}

i {
    padding: 5px;
}

.label {
    color: white;
    margin-bottom: 5px;
}

input,
textarea {
    color: #707983;
    width: 100%;
    border: none;
    background-color: #111418;
    padding: 15px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

button {
    background-color: #20c997;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.contact_info i {
    color: #20c997;
}


.follow a {
    font-size: 24px;
}


.send {
    background-color: #20c997;
    color: white;
}








/* CopyRight */
.footer {
    padding: 30px;
    text-align: center;
    background-color: #343a40;
    color: white;
}
